/* == Reset == {{{1 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* == Generic Styles == {{{1 */
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font: 62.5% Verdana, Arial, sans-serif;
	color:#555;
	background:CornflowerBlue;
}

h1, h2, h3, h4, h5 {color: orange;}
h1 {
	line-height:1em;
	font-size: 2.7em; 
	margin:1em 0; 
	padding: 1em 18px .5em;
}
h2 {
	font-size:2em; 
	color: #663300; 
	margin-top: 1.1em;
	margin-bottom: 0.8em; 
	line-height: 1.125em;
}
h3 {
	font-size:1.8em; 
	margin: 1em 0; 
	line-height:1.2857em;
	clear: both;
}
h5 {
	float: right;
	padding:1em 1em;
}
a img {
	border:none;
}
p,ul,ol,dl {
	font-size:1.3em;
	margin-bottom:1.5em;
	line-height:1.8em;
}
p {
	padding: 0 18px 0 0;
}

a:link {
	color: #003399;
}
a:visited {
	color: #003399; /*different colors for visited links is annoying */
}
a:hover {
	color: #6699ff;
	text-decoration: none;
}
	h1 a, h1 a:visited {
		text-decoration: none;
		color:#663300;
	}
	h5 a, h5 a:visited {
		color: #663300;
	}

/* == Structure == */

#wrap {
	width:950px; 
	margin:0 auto 1em; 
	overflow:hidden;
	background-color:#fff;
	border: 10px solid transparent; 
	-webkit-box-shadow: 0px 0px 5px 6px rgba(22,22,22,0.5);
	-moz-box-shadow: 0px 0px 5px 6px rgba(22,22,22,0.5);
	-box-shadow: 0px 0px 5px 6px rgba(22,22,22,0.5);
}
#header {
	clear: both;
	padding:0; 
	margin: 0;
	overflow: hidden;
}
#footer {
	clear: both;
	margin-top: 1em; 
	padding: 1em;
}
#footer a {
	color: #333;
}
	#footer a:visited {
		color: #666;
	}

/* Parent Site Controls - Bar at the Top of the Page */ 
	nav.top { 
		display: none; /* disabling this temporarily */ 
	} 

/* End of Parent Site Controls */ 

/* = Styles for Vertical-Nav Pages = {{{1 */	
.vertical #content {
	float: right;
	overflow: hidden;
	min-height:400px;
	width: 673px; 
	padding:0 18px; 
	border-left: 1px solid #c7b5a2;
}
.vertical #exhibit-nav {
	float: left;
	width: 164px;
	padding: 0 18px;
}
.vertical #exhibit-nav a { 
	text-decoration:none;
}
	
	
/* = Vertical Section Navigation = {{{2 */	
.vertical .exhibit-page-nav {
	width: 194px;
	overflow:hidden;
}
	.vertical .exhibit-page-nav li {
		width:auto;
	}
	.vertical .exhibit-nested-page { 
	} 
	.vertical .exhibit-page-nav li {
	}
	.vertical a.exhibit-page-title { 
		background: #333; 
	 	display:block;
		color: #eee; 
		font-size: 1.0em;
		text-decoration:none;
	 	text-transform: uppercase; 	
		font-weight: 600px;
		text-shadow: 0px 1px 0px rgba(33,33,33,.5); 
		padding: 0.8em;
		border-left: 5px solid #555;
		border-bottom: 1px solid #555;
	} 
	.vertical li.exhibit-nested-page.current a.exhibit-page-title, .vertical li.exhibit-nested-page a.exhibit-page-title:hover { 
		border-left: 5px solid #58589F;
	} 

/* = Vertical Page Navigation = {{{2 */
.vertical .exhibit-child-nav {
	list-style:none;
	margin-bottom: 0;
	margin-left: 15px;
	background: #555;
}
	.vertical .exhibit-child-nav li {
		margin: 0;
	}
	.vertical .exhibit-child-nav li a {
		display: block; 
		font-size: smaller;
		padding: 0.6em;
		color: #eee;
		border-left: 5px solid #333;
		border-bottom: 1px solid #454545; 
	}
	.vertical .exhibit-child-nav li.current a, .vertical .exhibit-child-nav li a:hover {
/*		background-color: #5f5f5f; */
		border-left: 5px solid #58589F;
	} 
	.vertical .exhibit-child-nav li.current a {
	}

/* = Styles for Horizontal-Nav Pages = {{{1 */
.horizontal #content {
	overflow: hidden;
	min-height:400px;
	width: 913px; 
	padding:0 18px; 
}

/* = Horizontal Section Navigation = {{{2 */	
.horizontal #exhibit-nav {
	padding: 0 18px;
}
.horizontal ul.exhibit-section-nav {
	margin-bottom: 0.8em; /* overrides standard ul margin */
}
.horizontal .exhibit-section-nav li {
	display: inline-block; 
	width:auto;
	margin-bottom: 10px;
	line-height: 3em; 
}
.horizontal .exhibit-section-nav li a {
	display: inline;
	text-decoration: none;
	padding: 1.2em;
	background-color: #777; 
	color: #eee; 
	border-bottom: 1px solid #555; 
	border-right: 1px solid #666; 
}
.horizontal .exhibit-section-nav li.current a, .horizontal .exhibit-section-nav li a:hover  {
	color: #555;
	background-color: #eee;
}
	
/* = Horizontal Page Navigation = {{{2 */
.horizontal ul.exhibit-page-nav {
	margin-top: 15px;
	list-style:none;
	width: 100%;
}
.horizontal .exhibit-page-nav li {
	display:inline;
	float: left;
	text-align: left;
}
.horizontal .exhibit-page-nav li a {
	padding: 0.9em;
	font-size: 90%;
	margin-top: 10px;
	margin-left: 0;
	text-decoration:none;
	background-color: #777; 
	color: #eee; 
	border-right: 1px solid #666; 
	border-left: 1px solid #666; 
}
.horizontal .exhibit-page-nav li a:hover {
	color: #555;
	background-color: #eee;
}
.horizontal .exhibit-page-nav li.current a {
	color: #555;
	background-color: #eee;
}

/* = Previous-Next Navigation = {{{1 */
#previous-next-nav {
	font-size:1.1em;
}
	#previous-next-nav a {
		text-decoration:none;
 }
#previous-next-nav .previous {
	float:left;
	width:48%;
	margin-bottom:2em;
}
#previous-next-nav .next {
	float:right;
	width: 48%;
	text-align:right;
	margin-bottom:2em;
}

/* == Content == */
#exhibit-sections h3 {
	margin: 0 0 .5em;
	font-weight:bold;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: .1em;
}
	#exhibit-sections h3 a {
		text-decoration: none;
		color: #663300;
	}
	#exhibit-sections h3 a:hover {
color: #6699ff;
}
#exhibit-sections p {
	margin: 0 0 1.8em;
	padding: 0 18px 0 0;
}
	
.commentary {
	background:#eee;
	padding:18px;
}
	.commentary p {
		font-size:1.1em;
		line-height:1.63636;
	}
	
/* == Layout == */
.exhibit-content
	{
		clear: both;
	}

.item img, .exhibit-item img {
	margin-bottom: 1.5em;
}
#itemfiles { 
	margin: 10px 0; 

/* == Header == */
#logo {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}


/* == Item Show == */
.item-title {
	padding-left: 0;
	margin-top: 0;
}
.field {
	padding-bottom: 1em;
}
.field-value {
	padding-left: 1.5em;
	margin-top: 0.75em;
}
.tags {
	margin-bottom: 1em;
}
#item-files {
	margin-bottom:1.5em;
}
